@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Black.ttf) format("truetype");
    font-weight: 900;
}