body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url("../Imagenes/Mombacho1.png") no-repeat center center/cover;    
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.login-container h2 {
    font-family: "Satoshi", sans-serif;
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-family: "Satoshi", sans-serif;
    margin-bottom: 5px;
    font-size: 15px;
    color: #000;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    border-color: #0077ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-login:hover {
    background: #005fcc;
}

.registrado {
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    color: #0077ff;
    text-decoration: none;
    box-sizing: border-box;
}

.mensaje {
    margin-top: 10px;
    font-size: 14px;
}
